<!DOCTYPE html>
<html lang="en">
<head>
    <title>Tweet Analytics</title>
</head>
<body>


    <!-- <ul id="navigation">
    {% for item in navigation %}
        <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
    {% endfor %}
    </ul> -->

    <h1>The Flask application is running successfully! 👍</h1>
    <h2>Test endpoints:</h2>
    <ul>
        <li><a href="{{ url_for('fetch_tweets_with_hashtags')}}">Tweets With Hashtags</a></li>
        <li><a href="{{ url_for('fetch_deleted_tweets')}}">Deleted Tweets</a></li>
        <li><a href="{{ url_for('fetch_tweets_with_urls')}}">Tweets with URLs</a></li>
        <li><a href="{{ url_for('fetch_verified_tweets')}}">Verified Tweets</a></li>
        <li><a href="{{ url_for('fetch_tweets_by_language', lang='en')}}">Tweets in specific language (English)</a></li>
    </ul>
    
    {{ a_variable }}
    {# a comment #}
</body>
</html>